---
layout: default
---
<header>
  <div id="container">
    <div id="cover">
      <span class="name">
        Adam Gordon
      </span>
    </div>
  </div>
</header>

<section id="content">

  <nav id="nav">
    <div class="maxcontainer">
      <div id="navleft">
        <ul id="navigation">
          <li id="title">Adam Gordon</li>
          <li id="navabout">About me</li>
          <li id="navprojects">My projects</li>
          <li id="navblog">Blog</li>
          <li id="navcontact">Contact</li>
        </ul>
      </div>
    </div>
  </nav>

  <section id="about">
    <div class="maxcontainer">
      <h1>Hi, I like to bring ideas to production.</h1>

      <div class="person">
        <img class="photo" src="img/adam_head.jpg" alt="Photo of Adam Gordon">
        <p class="about-me">
          Full Stack Developer with 10+ years of experience with application modernization and full stack development. Leading a team working with Elixir; 
          with multiple front-ends, including React, iOs, Android, and Google Assistant (voice) to revolutionize how Canadians shop for groceries. 
          Modernizing an e-commerce platform (Hybris/ Spring) onto micro-services using web-flux and GCP. Worked with a large bank transformed a
           monolithic trading application to use micro services and a reactive Angular front end. 
          <br>
          I began programming at my high school where I was introduced to the One Laptop per Child initiative. 
          This program brought me all the way to Isiolo, in Kenya, where I deployed a classroom set of laptops in 2009. 
          I returned three times to grow the collection to over 80 computers, and 3 schools, that are still being used today. 
          I'm always looking for new ways to solve big problems.
        </p>
      </div>
    </div>
  </section>

  <section id="projects">
    <div class="maxcontainer">
      <h1 style="margin-top: .5em">My Projects</h1>

      <div class="carousel-container">
        <div class="carousel-track" id="projectCarousel">
          {% assign sorted_projects = site.projects | sort: 'to_date' | reverse %}
          {% for project in sorted_projects %}
            {% unless project.disabled %}
            <div class="carousel-card">
              {% if project.external_url %}
                <a href="{{ project.external_url }}" class="card-link">
              {% else %}
                <div class="card-content">
              {% endif %}
                <div class="card-inner">
                  {% if project.icon_class %}
                    <div class="icon-wrapper">
                      <img src="{{ project.icon }}" class="{{ project.icon_class }}">
                    </div>
                  {% else %}
                    <img src="{{ project.icon }}">
                  {% endif %}
                  <p>{{ project.description }}</p>
                </div>
              {% if project.external_url %}
                </a>
              {% else %}
                </div>
              {% endif %}
            </div>
            {% endunless %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <section id="blog">
    <div class="maxcontainer">
      <h1 style="margin-top: .5em">Blog</h1>
      
      <div class="blog-posts">
        {% for post in site.posts limit:3 %}
          <article class="blog-post">
            <div class="post-header">
              <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
              <p class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</p>
            </div>
            <div class="post-excerpt">
              {{ post.excerpt }}
              <p><a href="{{ post.url | prepend: site.baseurl }}" class="read-more">Read more →</a></p>
            </div>
          </article>
        {% endfor %}
        
        {% if site.posts.size > 3 %}
          <div style="text-align: center; margin-top: 2em;">
            <a href="{{ site.baseurl }}/blog/" class="view-all-posts">View All Posts →</a>
          </div>
        {% endif %}
        
        {% if site.posts.size == 0 %}
          <p>No blog posts yet. Check back later!</p>
        {% endif %}
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="maxcontainer">
      <h1>Want to get in touch?</h1>

      <p>If you want to learn more about me, or just want to chat, feel free to email me:</p>

      <a href="mailto:ag@adamgordon.ca" class="button">Email me</a>
    </div>
  </section>
</section>

